body {
    background: linear-gradient(to bottom, #2766ee, #6ccdf3); /* Degradê no fundo da pag */
    font-family: sans-serif;
    min-height: 100vh; /* Para que o degradê fique proporcional*/
}

.form {
    width: 600px;
    margin: auto;
    padding-top: 50px;
}

.card {
    box-shadow: 1px 1px 5px #0553c7;
    background-color: #f8f8f8;
    padding: 40px;
    border-radius: 15px;
    text-align: center; /* Centralizando todo o conteúdo do cartão */
}

.car-top {
    text-align: center; /* Centralizando o texto "Login|Cadastro" */
    margin-bottom: 20px;
}

.card-group {
    margin-bottom: 10px;
    text-align: left; /* Alinhando os campos de entrada à esquerda */
}

.card-group > label {
    font-family: sans-serif;
    color: #060575;
    display: block;
}

.card-group > input {
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
}

.card-group > button {
    background-image: linear-gradient(to right, #1E90FF, #0000FF); /**Aqui define o degradê do botão acessar**/
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: #000000; /**Cor do texto acessar **/
    border: 0px;
    outline: 0;
}

.imglogin {
    border-radius: 38px; /**Aqui esta arredondando a borda do icone**/
    width: 130px; /**Definindo tamanho do icone**/
    box-shadow: 1px 1px 5px #ffffff; /**Aqui esta definindo o fundo do icone**/
    margin: 0 auto; /**Espaçamento do icone para o texto**/
}

.centered-link {
    display: block;
    text-align: center;
}

.card-group > label {
    font-family: sans-serif;
    color: #060575;
    display: block;
}

.card-group > input {
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 25px;
    padding: 5px;
}

.card-group > button {
    background-image: linear-gradient(to right, #1E90FF, #0000FF); /**Aqui define o degradê do botão acessar**/
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: #000000; /**Cor do texto acessar **/
    border: 0px;
    outline: 0;
}

.btn button:hover {
    background-image: linear-gradient(to right, #0000FF, #1E90FF);
}

.error {
    font-weight: bold;
    color: red;
}
